@import "tailwindcss";

@theme inline {
  --font-sans: "Roboto Flex";
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  background: rgba(238, 159, 150, 0.28);
}
